@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&family=Roboto+Slab:wght@400;500;600&display=swap');

body {
    font-family: 'Roboto Slab', 'Ariel';
    margin: 0;
    background-color:#FAFAFA;
    color: #403e3d;
}

#header {
    text-align: center;
    font-size: 4rem;
    margin: 30px;
}


#name {
    text-align: center;
    font-size: 1.5rem;
    margin: 30px;
}

#square, #squarep {
    border: 2px solid white;
    width: 30px;
    height: 30px;
}

#container {
    display: flex;
    justify-content: space-evenly;
}

#player1, #computer {
    display: grid;
    grid-template-columns: repeat(10, 30px);
    grid-template-rows: repeat(10, 30px);
    gap: 1px;
}

#name {
    display: flex;
    justify-content: space-evenly;
    gap: 130px;
}

#squarep {
    background-color: #ddf7b7;
}

#square {
    background-color: #f5d0f2;
}

#square:hover {
    background-color: #bf84ba;
}



.hit{
    width: 15px;
    height: 15px;
    background-color:#d17d8d;
    border-radius: 50%;
    margin-left: 7px;
    margin-top: 7px;
    /* z-index: 1;
    position: absolute; */
    
}

#gameover {
    backdrop-filter: blur(2px);
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    top: 20%;
    width: 100%;   
    height: 300px; 
    padding-top: 100px;
}

.declare {
    font-size: 1.5rem;
    text-align: center;
    margin: 10px;
}

.playagain{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.replay {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Slab', 'Ariel';
    background-color: transparent;
    padding: 5px 10px;
    border: 1px solid #403e3d;
    border-radius: 10px;
    color: #403e3d;

}

.replay:hover {
    color: grey;
    border: 1px solid grey
}